DESTINATION__FILESYSTEM__BUCKET_URL=
DESTINATION__FILESYSTEM__CREDENTIALS__AWS_ACCESS_KEY_ID=
DESTINATION__FILESYSTEM__CREDENTIALS__AWS_SECRET_ACCESS_KEY=
DESTINATION__FILESYSTEM__CREDENTIALS__ENDPOINT_URL=
AWS_ENDPOINT_URL_S3=